<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="./assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/quasar.min.css" rel="stylesheet" type="text/css">
    <style>
      .login-card{
        width: 100%;
        max-width: 400px;
        margin-top: -60px;
        border-radius: 6px;
      }
      .logo{
        width: 300px;
      }
      .login-banner{
        height: 40vh;
        background: linear-gradient(45deg, #3a75c4, #12335f);
      }
      .privacyCardMaximized{
        width: 100vw;
      }
      .privacyCard{
        width: 80vw;
      }
      .privacyContent{
        width: 100%;
        height: 350px;
        font-size: 18px;
      }
      .privacyCardMaximized .privacyContent{
        height: calc(100vh - 90px);
      }
      .login-card .text-overline{
        font-size: 18px;
      }
      .cta-button{
        width: 100%;
        height: 48px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
      .loading-container{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 1;
      }
      @media screen and (max-width: 720px) {
        .cta-button{
          width: calc(100% - 40px);
          margin-left: 20px;
          border-radius: 4px;
        }
        .login-card{
          margin-top: 0;
        }
        .login-banner{
          height: 80px;
        }
        .login-card{
          border-radius: 0;
          box-shadow: none;
        }
        .logo{
          width: 120px;
        }
      }
    </style>
  </head>

  <body>
    <div id="q-app">
        <div v-if="!loaded" class="loading-container full-width row wrap justify-center items-center content-center">
          <q-spinner-puff size="80px" :thickness="2" color="primary" />
        </div>
        <div class="login-banner full-width row wrap justify-center items-center content-center">
          <img class="logo" src="./images/brand_geap_horizontal_white.svg" alt="">
        </div>
        <div class="full-width row wrap justify-center items-center content-center">
          <q-card class="login-card">
            <q-card-section>
              <div class="q-mt-md text-center text-overline text-grey-8">
                <div class="text-uppercase">
                  Redefinir sua senha
                </div>
                <div class="text-subtitle1 q-px-md">
                  O processo de redefinição de senha não poderá ser desfeito.
                </div>
              </div>
            </q-card-section>
            <q-card-section class="q-pa-lg">
              <q-input v-model="password"
                filled
                :type="isPwd ? 'password' : 'text'"
                label="Nova Senha"
                :error="!password && hasTried">
                  <template v-slot:error>
                      Nova Senha é obrigatória
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    ></q-icon>
                  </template>
                </q-input>
            </q-card-section>
            <q-card-section class="no-padding">
              <q-btn class="cta-button" color="orange" label="Redefinir" @click="resetPassowrd()"></q-btn>
            </q-card-section>
          </q-card>
        </div>
        <div class="q-my-lg text-center">
          <div class="text-overline text-center">&copy; {{currYear}} GEAP</div>
          <q-btn color="primary" flat rounded label="Privacidade" @click="$refs.privacyDialog.show()"></q-btn>
        </div>
        <q-dialog ref="privacyDialog" :maximized="privacyMaximized || $q.platform.is.mobile">
          <q-card :class="privacyMaximized || $q.platform.is.mobile ? 'privacyCardMaximized' : 'privacyCard'" style="background-color: transparent;">
            <q-card-section :class="night ? 'bg-grey-9 text-white' : 'bg-grey-2'">
              <q-item>
                <q-item-section>
                  <div class="text-subtitle1">Política de Privacidade</div>
                </q-item-section>
                <q-item-section avatar>
                  <q-btn :icon="!night ? 'nights_stay' : 'wb_sunny'" flat round @click="night = !night"></q-btn>
                </q-item-section>
                <q-item-section avatar v-if="!$q.platform.is.mobile">
                  <q-btn :icon="privacyMaximized ? 'fullscreen_exit' : 'fullscreen'" flat round @click="privacyMaximized = !privacyMaximized"></q-btn>
                </q-item-section>
                <q-item-section avatar>
                  <q-btn icon="close" flat round @click="$refs.privacyDialog.hide()"></q-btn>
                </q-item-section>
              </q-item>
            </q-card-section>
            <q-card-section :class="night ? 'bg-grey-8 text-white no-padding' : 'bg-white no-padding'">
              <q-scroll-area class="privacyContent q-px-md">
                <div class="q-pa-sm"></div>
                <ol class="q-pr-md">
                  <li v-for="item in 10" class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto suscipit tenetur tempora atque enim harum provident inventore quis, tempore totam illum reprehenderit saepe similique a voluptatibus velit nemo quo esse?</li>
                </ol>
                <div class="q-pa-sm"></div>
              </q-scroll-area>
            </q-card-section>
          </q-card>
        </q-dialog>
    </div>    
    <script src="./assets/js/quasar.ie.polyfills.umd.min.js"></script>
    <script src="./assets/js/vue.min.js"></script>
    <script src="./assets/js/quasar.umd.min.js"></script>
    <script src="./assets/js/pt-br.umd.min.js"></script>
    
    <script>
      Quasar.lang.set(Quasar.lang.ptBr)

      new Vue({
        el: '#q-app',
        data: function () {
          return {
            version: Quasar.version,
            password: '',
            isPwd: true,
            hasTried: false,
            showPrivacyDialog: false,
            privacyMaximized: false,
            night: false,
            rememberMe: false,
            loaded: false
          }
        },
        methods: {
          resetPassowrd () {
            if (this.password) {
              this.$q.dialog({
                title: 'Redefinir Senha',
                message: 'Deseja mesmo redefinir sua senha?',
                cancel: true,
                persistent: true
              }).onOk(() => {
                this.$q.notify('Sua senha foi alterada com sucesso!')
                this.password = ''
                this.hasTried = false
              })
            } else {
              this.hasTried = true
            }
          }
        },
        created () {
          setTimeout(() => this.loaded = true, 200)
        },
        computed: {
          currYear () {
            let year = new Date
            return year.getFullYear()
          }
        }
      })
    </script>
  </body>
</html>